body{
    height: 100vh;
    width: 60%;
    text-align: center;
    margin: 0 auto 0 auto;
}
#page{
    min-width: 60%;
}
header{
    overflow: hidden;
    font-size: 175%;
}
a{
    text-decoration: none;
    color: black;
}
a{
    word-spacing: 20px;
}